body {font-family: Arial; width: 90%}

/* page is divided up into two sections: the viewer, and the about section */
section {float: left; width: 100%; padding-top: 10px}

/* menu contains the dropdown selections */
#menu {padding: 0 2% 0 0; margin: 0; width: 13%; float: left; list-style: none}

/* each dropdown option is wrapped in an 'item' which holds both the label and
the dropdown box */
.item {padding-top: 10px; margin: 0}

/* the name of the dropdown box */
.label {font-size: 100%; padding: 0; margin: 0}

/* the dropdown box itself */
.selector {font-size: 100%; width: 100%; padding: 0; margin: 0}

/* the final list element of the menu list, contains the button */
#show {padding-top: 20px;}

/* the button itself */
button {font-size: 100%; cursor: pointer}

/* dynamic title displayed above the figure */
#figure_title {font-size: 130%; padding-bottom: 10px; margin: 0; float: left; width: 84%}

/* the figure (.png image) */
#figure {padding: 0; margin: 0; float: left; width: 84%}

/* title of the about section, toggleable */
#about_title {cursor: pointer; width: 100%}

/* the content of the about section, revealed/hidden on click of the title */
#about_content {visibility: hidden; text-align: justify; width: 100%}